.drop-container{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    max-width:160px;
    height: fit-content;
    box-shadow: 0 1px 5px 0 rgba(37,32,31,.3);

}

.drop-button{
    height: 50px;
    padding: 5px;
    font-size: 1.25rem;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid lightgray;
    /* outline: none; */
    background-color: white;
    cursor: pointer;
}

.drop-button:hover{
    color: #0062e3;
    background-color: lightgrey;
}